@import 'step-card';
@import 'validation-card';

.package-deal-belt {
    .package-deal-row {
        padding-top: 16px;
        padding-left: 30px;
        padding-bottom: 16px;

        @include media-breakpoint-down(md) {
            padding-left: 0;
        }

        &:nth-child(odd) {
            background-color: $mg-slate;
        }
    }
}