
/************/
/*  Colors  */
$mg-gold:            #c39101;
$mg-dark-green:      #008a32;
$mg-light-green:     #7dc665;

$mg-light-slate:     #70664b;
$mg-input-backing:   #33312e; // so close to slate, consider updating
$mg-slate:           #2b2b2b;
$mg-dark-slate:      #111;

$mg-grey:            #bbb;

/*******************************************/

/***********/
/*  Fonts  */
$primary-font:       "hero-new", sans-serif;
$secondary-font:     "ltc-caslon-pro", serif;




/*****************/
/*  transitions  */
$all-2:           0.2s all ease-in-out;
$all-3:           0.3s all ease-in-out;
$all-4:           0.4s all ease-in-out;
$all-5:           0.5s all ease-in-out;